@import 'src/assets/styles/vars.scss';
@import 'src/assets/styles/rem.scss';
$designWidth: 750;
.prebox {
    padding: px2rem(20);

    ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        li {
            background-color: rgba($color: #fff, $alpha: .3);
            margin-bottom: px2rem(10);
        }
    }

    &.product_one {
        li {
            width: 100%;
            height: px2rem(280);
        }

    }

    &.product_two-horizontal {
        li {
            width: px2rem(350);
            height: px2rem(170);
        }

    }

    &.product_two-vertical {
        li {
            width: px2rem(350);
            height: px2rem(562);
        }
    }

    &.product_three {
        li {
            width: px2rem(230);
            height: px2rem(400);
        }
    }

    &.product_four {
        li {
            width: px2rem(173);
            height: px2rem(230);
        }
    }
}

.product__list {
    padding: px2rem(20);

    &.product_three, &.product_two-vertical, &.product_four{
        padding-bottom: px2rem(10);
    }

    .pl {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .pl__pro {
        background-color: #fff;
        overflow: hidden;
        margin-bottom: px2rem(10);
        border-radius: px2rem(4);
        a {
            display: block;
            position: relative;
        }
        i {
            font-style: normal;
        }
    }

    .pro {
        &__imgbox {
            overflow: hidden;
            position: relative;

            .pro__saleImg {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
            }
        }

        &__tag {
            position: absolute !important;
            left: 0;
            top: px2rem(12);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 0 0;
        }

        &__content {
            padding: 0 px2rem(10);
            h4 {
                color: #222222;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-weight: normal;
                // margin-top: px2rem(16);
                // margin-bottom: px2rem(4);

                span {
                    display: inline-block;
                    position: relative;
                    top: px2rem(-2);
                    line-height: 1;
                    font-size: px2rem(20);
                    background-color: #FF3E00;
                    color: #fff;
                    padding: px2rem(3) px2rem(8);
                    margin-right: px2rem(3);
                    border-radius: px2rem(13);
                }
                .pro__seaamoy {
                    margin-right: px2rem(-2);
                }
            }
        }

        &__benefit {
            height: px2rem(30);
            display: flex;
            span {
                // float: left;
                color: #FF3E00;
                font-size: px2rem(20);
                line-height: 1;
                // border: px2rem(1.4) solid #FF3E00;
                padding: px2rem(6) px2rem(8);
                // border-radius: px2rem(15);
                margin-right: px2rem(10);
                // text-overflow: ellipsis;
                // overflow-x: hidden;
                white-space: nowrap;
                position: relative;
                &:after {
                    content: '';
                    position: absolute;
                    pointer-events: none; /* 防止点击触发 */
                    box-sizing: border-box;
                    position: absolute;
                    width: 200%;
                    height: 200%;
                    left: 0;
                    top: px2rem(-1);
                    border-radius: px2rem(30);
                    border:1px solid #FF3E00;
                    transform:scale(0.5);
                    transform-origin: 0 0;
                }
            }
            &Img {
                float: left;
                width: px2rem(61);
                // height: px2rem(32);
                margin-right: px2rem(8);
            }
        }

        &__monthprice {
            clear: both;
            line-height: px2rem(28);
            font-size: px2rem(20);
            .pro__pricenum {
                display: inline-block;
                font-size: px2rem(28);
                text-indent: px2rem(-2);
                letter-spacing: px2rem(-1);
                font {
                    font-size: px2rem(22);
                }
            }
            .pro__months {
                padding-left: px2rem(8);
                color: #424243;
            }
        }

        &__price {
            line-height: px2rem(36);
            // margin-bottom: px2rem(8);
            font-size: px2rem(22);
            i {
                font-size: px2rem(22);
                text-indent: px2rem(-5);
            }
            .s1 {
                font-size: px2rem(20);
                font-weight: 400;
                font-style: normal;
                letter-spacing: px2rem(-2);
                color: #424243;
            }

            .s2 {
                color: #A1A1A1;
                text-decoration: line-through;
                margin-left: px2rem(3);
                letter-spacing: px2rem(-2);
                line-height: 1.4;
                text-indent: px2rem(-5);
            }
            div {
                display: inline-block;
                width: px2rem(32);
                margin: 0 px2rem(2);
                margin-bottom: px2rem(-3);
            }
        }

        &__btn {
            text-align: center;
            color: #fff;
            font-size: px2rem(26);
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            margin: 0 auto;
        }
    }
}
