@import 'src/assets/styles/aui-vars.scss';
@mixin flex {
    dispaly: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    flex-wrap: nowrap;
}
@mixin flex-item{
    flex: 1;
    height: 100%;
}
.aui-navbar {
    position: fixed;
    z-index: 99;
}
.mui-page .aui-navbar ~ .mui-content {
    margin-top: 1.87733rem;
}
.detail{
    min-height: 100%;
    background-color: #ffffff;
    .detail_hd{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: px2rem(337);
        border-bottom: px2rem(1) solid #ECECEC;
        padding-bottom: px2rem(25);
        .title{
            height: px2rem(36);
            line-height: px2rem(36);
            font-size: px2rem(28);
            color: #717172;
        }
        .money{
            margin-top: px2rem(5);
            height: px2rem(88);
            line-height: px2rem(88);
            font-size: px2rem(80);
            font-weight: bold;
        }
        .assist{
            height: px2rem(36);
            line-height: px2rem(36);
            margin-top: px2rem(19);
            font-size: px2rem(28);
            color: #424243;
        }
    }
    .detail_bd{
        padding: px2rem(52) 0 px2rem(71) 0;
        border-bottom: px2rem(1) solid #ECECEC;
        &.sub {
            padding-top: px2rem(32);
            padding-bottom: px2rem(80);
        }
        &:last-child {
            border-bottom: none;
        }
        .title{
            height: px2rem(42);
            line-height: px2rem(42);
            font-size: px2rem(32);
            font-weight: 500;
            padding-left: px2rem(32);
            margin-bottom: px2rem(36);
            .label{
                flex: 1;
            }
            .value{
                flex: 1;
                text-align: right;
            }
            .view{
                color: #61C9FF
            }
            .icon{
                width: px2rem(40);
                height: px2rem(40);
                margin-right: px2rem(20);
            }
        }
    }
    .detail_item{
        display: flex;
        justify-content: space-between;
        padding: 0 px2rem(32);
        height: px2rem(80);
        line-height: px2rem(80);
        font-size: px2rem(28);
        &.warn{
            color: #ff6161;
        }
        .label{
            flex: 1;
            color: #A1A1A1;
            &.warn{
                color: #ff6161;
            }
        }
        .value{
            flex: 1;
            text-align: right;
        }
        .view{
            color: #61C9FF
        }
    }
}
.bottom-action {
    position: fixed;
    z-index: 2;
    width: px2rem(750);
    box-shadow: 0px 2px 12px 5px rgba(242,243,245,0.5);
    background-color: #ffffff;
    bottom: px2rem(0);
    overflow: visible;
    // transform:translateZ(1px);
    ::v-deep {
        .mui-btn {
            margin: px2rem(16) auto;
        }
    }
}
.submit-btn {
    width: px2rem(718);
    height: px2rem(88);
    line-height: px2rem(88);
    margin: px2rem(16) auto;
    background-color:var(--auiColorSubmit);
    text-align: center;
    border-radius: var(--auiButtonRadiusLarge);
    font-size: px2rem(32);
    color: var(--auiButtonTextColor);
}
.submit-btn_disabled{
    background-color: var(--auiColorDisabled);
}