@import 'src/assets/styles/vars.scss';
@import 'src/assets/styles/aui-vars.scss';
@import 'src/assets/styles/rem.scss';
@import 'src/assets/styles/mixins.scss';
$designWidth: 1080;
$black: #333;
$gray: #777;
$bgcolor:#f3f3f3;
$tipsColor: #4ca9ff;
@mixin border-down {
    position: relative;
    &:after {
        content: "";
        width: 100%;
        height: 1px;
        background-color: #d8d8d8;
        position: absolute;
        right: 0;
        bottom: 0;
        -webkit-transform: scaleY(0.5);
        transform: scaleY(0.5);
    }
}

@mixin icon($width, $height, $imgName) {
    display: inline-block;
    width: px2rem($width);
    height: px2rem($height);
    background: url($imgName) no-repeat center;
    background-size: 100%;
    vertical-align: middle;
}
